/* Global */
body {
    padding: 0 25% 0 25%;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
}

div {}

header {}

nav {}

ul {}

aside {}

main {}

img {}

button {
    size: 8px;
}

article {}

footer {}

/* ID */

#wrapper {
    background-color: lavender;
}

#ending {}