/* Global */
div {}

header {}

nav {}

ul {}

aside {}

main {}

article {}

footer {}

/* ID */

#wrapper {
    padding: 0, 250px, 0, 250px;
    display: flex;
    flex-direction: column;
}

#ending {}